{% extends 'base.html' %}

{% block head %}
<title>Company Master</title>
{% endblock %}


{% block body %}
<div class="container">
  <br>
  <form action="/company" method="POST" class="center-block">
    <div class="form-row text-center align-items-center">
        <div class="col-sm-6 my-1">
            <label class="sr-only" for="content">Company_name</label>
            <input type="text" class="form-control" required id="content" name="company_name" placeholder="Company Name">
        </div>
        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
  </form>
   <br>
    {% if companies|length>0 : %}
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Company</th>
            <th scope="col">Added</th>
          </tr>
        </thead>
        <tbody>
          {% for company in companies %}
          <tr>
            <td>{{ company.company_name }}</td>
            <td>{{ company.date_created.date()}}</td>
            <!-- <td>
                <a class="btn btn-sm btn-primary" href="/update/">
                    Edit
                </a>
                <a class="btn btn-sm btn-danger" href="/delete/">Delete</a>
            </td> -->
          </tr>
          {% endfor %}
         
        </tbody>
      </table>
      {% endif %}

      
</div>

{% endblock %}