{% extends 'base.html' %}

{% block head %}
<title>Employee List</title>
{% endblock %}


{% block body %}
<div class="container">
    <h1 class="text-center">Employee List <a class="btn btn-sm btn-success" href="{{ url_for('add') }}">Add Employee</a></h1>
    {% if employees|length>0 : %}
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Company</th>
            <th scope="col">Name</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">DOB</th>
          </tr>
        </thead>
        <tbody>
          {% for employee in employees %}
          <tr>
            <td>{{ employee.company.company_name }}</td>
            <td>{{ employee.name}}</td>
            <td>{{ employee.username}}</td>
            <td>{{ employee.email}}</td>
            <td>{{ employee.phone}}</td>
            <td>{{ employee.dob}}</td>
            <!-- <td>
                <a class="btn btn-sm btn-primary" href="/update/">
                    Edit
                </a>
                <a class="btn btn-sm btn-danger" href="/delete/">Delete</a>
            </td> -->
          </tr>
          {% endfor %}
         
        </tbody>
      </table>
      {% endif %}

</div>

{% endblock %}