{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}


{% block body %}
<div class="container">
    <h1 class="text-center">Employee List</h1>
  
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Task</th>
            <th scope="col">Added</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        
          <tr>
            <td></td>
            <td></td>
            <td>
                <a class="btn btn-sm btn-primary" href="/update/">
                    Edit
                </a>
                <a class="btn btn-sm btn-danger" href="/delete/">Delete</a>
            </td>
          </tr>
       
         
        </tbody>
      </table>
      
      <form action="/" method="POST" class="">
        <div class="form-row text-center align-items-center">
            <div class="col-sm-6 my-1">
                <label class="sr-only" for="content">Name</label>
                <input type="text" class="form-control" id="content" name="content" placeholder="Jane Doe">
            </div>
            <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
      </form>
</div>

{% endblock %}